div.ev-event-tile {
  $width: 14rem;
  $scale: 1.2;
  max-width: $width;
  max-height: $width * 3 /4;
  transition: 0.2s all ease-in-out;
  transition-delay: 200ms;
  & > div {
    transition: 0.2s all ease-in-out;
    transition-delay: 200ms;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6) 33%);
    div.content {
      bottom: 1rem;
      left: 1rem;
    }
  }
  &:hover {
    max-width: $width * $scale;
    max-height: $width * $scale * 3 / 4;

    & > div {
      opacity: 1;
    }
  }
}

@media (min-width: 991px) {
  div.ev-event-tile {
    $width: 22rem;
    $scale: 1.2;
    max-width: $width;
    max-height: $width * 3 /4;
    &:hover {
      max-width: $width * $scale;
      max-height: $width * $scale * 3 / 4;
    }
  }
}
