.ev-event-row {
  margin-bottom: 2rem;
  .row {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
    flex-wrap: nowrap;

    &::after {
      content: "";
      flex: 0 0 12px;
    }

    & > div.grow {
      padding: 0 0.5rem;
      flex-shrink: 0;
      flex-grow: 1;
      display: flex;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}
