div.ev-navbar {
  padding: 1rem;
  & > div:first-child {
    display: flex;
    align-items: center;

    img {
      height: auto;
      width: 14rem;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        margin: 0 0.8rem;
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
