a.ev-button {
  margin-right: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  display: flex;

  &.primary {
    color: var(--color-background);
    background-color: var(--color-text);
  }

  &.secondary {
    color: var(--color-text);
    background-color: var(--color-background);
  }

  p.title {
    margin: 0;
    margin-left: 0.5rem;
  }
}
